*{
    margin: 0;
    padding: 0;
}
body{
    margin: 20px;
    font-family:"Lato", monospace ;
    line-height: 30px;
}
.textcol{
    color: #333333;
    font-size: x-large;
    font-weight: bold;
}
.color{
    color: grey;
}
.fontsize{
    font-size: 18px;
}
figcaption{
    color: grey;
}
a{
   color: #008AB9;
}
a:hover{
    color: aqua;
}
